language: java

jdk:
  - openjdk17

services:
  #- docker
  - mongodb

env:
#- DOCKER_COMPOSE_VERSION=1.26.2

before_install:
  - chmod +x mvnw
  #- sudo rm /usr/local/bin/docker-compose
  #- curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  #- chmod +x docker-compose
  #- sudo mv docker-compose /usr/local/bin
  #- curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  #- sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  #- sudo apt-get update
  #- sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  #- sudo chmod a+x mvnw
# addons:
#   apt:
#     packages:
#       - docker-ce

before_script:
  #- docker compose up -d mongodb

  # see: https://docs.codacy.com/coverage-reporter/alternative-ways-of-running-coverage-reporter/#travis-ci
  - bash <(curl -Ls https://coverage.codacy.com/get.sh) download

script:
  - mvn clean verify -Dspring.data.mongodb.uri=mongodb://localhost:27017/blog -Pcoverage

after_success:
  - bash <(curl -Ls https://coverage.codacy.com/get.sh)
