# tells Lombok that this is the root directory and that it shouldn’t search parent directories for more configuration files
config.stopBubbling = true
# tells Lombok to add @lombok.Generated annotation to all generated methods (to improve Sonar coverage report)
lombok.addLombokGeneratedAnnotation = true

lombok.noArgsConstructor.extraPrivate=true
