version: 2.1

orbs:
  maven: circleci/maven@1.4.1
  codecov: codecov/codecov@3.2.4
executors:
  docker-ubuntu:
    docker:
      - image: circleci/buildpack-deps:stable
  docker-mongo:
    docker:
      - image: cimg/openjdk:17.0
      - image: mongo:4
jobs:
  build:
    executor: docker-mongo
    steps:
      - checkout
      - maven/with_cache:
          steps:
            - run: mvn -q test verify -Pcoverage
      - maven/process_test_results
      - codecov/upload:
          when: on_success
workflows:
  build:
    jobs:
      - build
      # filters:
      #   branches:
      #     only:
      #       - master
